CONTENTFUL_SPACE_ID=eq6xms3ghixa
CONTENTFUL_ACCESS_TOKEN=your_access_token_here
CONTENTFUL_MANAGEMENT_TOKEN=your_management_token_here
RAKUTEN_APP_ID=your_rakuten_app_id_here
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-1PBLSCMJS9
