CONTENTFUL_SPACE_ID=your_space_id_here
CONTENTFUL_ACCESS_TOKEN=your_access_token_here
CONTENTFUL_MANAGEMENT_TOKEN=your_management_token_here

RAKUTEN_APP_ID=your_rakuten_app_id_here

# Amazon (後で追加)
# AMAZON_ACCESS_KEY=
# AMAZON_SECRET_KEY=
# AMAZON_ASSOCIATE_TAG=

# Analytics
NEXT_PUBLIC_GA_ID=your_ga_id_here
